### JetBrains

.idea

### Python

__pycache__
venv
web/backend/venv_erfi6


### Backend

web/backend/db.sqlite3
web/backend/dj_erfi6/erfi_manager/static/*.css
web/backend/dj_erfi6/erfi_manager/static/*.eot
web/backend/dj_erfi6/erfi_manager/static/*.jpg
web/backend/dj_erfi6/erfi_manager/static/*.js
web/backend/dj_erfi6/erfi_manager/static/*.json
web/backend/dj_erfi6/erfi_manager/static/*.map
web/backend/dj_erfi6/erfi_manager/static/*.svg
web/backend/dj_erfi6/erfi_manager/static/*.ttf
web/backend/dj_erfi6/erfi_manager/static/*.woff
web/backend/dj_erfi6/erfi_manager/static/*.woff2
web/backend/dj_erfi6/erfi_manager/static

### Frontend

web/node_modules
web/npm-debug.log
web/webpack-stats.json
