argon2-cffi==18.1.0
asgiref==3.2.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cssselect==1.1.0
cssutils==1.0.2
Django==3.0.4
django-pyodbc-azure==2.1.0.0
idna==2.6
lxml==4.5.0
premailer==3.2.0
pycparser==2.20
pyodbc==4.0.30
pytz==2019.3
requests==2.18.4
six==1.14.0
sqlparse==0.3.1
urllib3==1.24.2