{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erfi elneos 6</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"-->
<!--          type="image/vnd.microsoft.icon"/>-->
    <meta name="description"
          content=""/>
    <meta name="abstract"
          content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:site_name" content="Erfi elneo 6"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content=""/>

    <meta property="og:title" content="Erfi elneos 6"/>
</head>

<body class="">

<div id="dashboard-container">
    main content erfi 6
    <!-- Dashboard component gets rendered here -->
</div>

<!-- <script src="{% static "externals.bundle.js" %}"></script> -->
<script src="{% static "app.bundle.js" %}"></script>
<!--Editedbyme-->
<!--<script src="../../static/externals.bundle.js"></script>
<script src="../../static/app.bundle.js"></script>-->
</body>

</html>
